body {
	padding-top: 56px;
	font-family: 'Open Sans', sans-serif;
	line-height: 30px;
	color: #888;
	font-weight: 300;
	font-size: 13pt;
}

nav {
	background-color: #282828;
	text-align: center;
	position: fixed;
	top: 0;
	width: 100%;
	height: 56px;
	line-height: 56px;
}

nav ul {
	margin-bottom: 0;
	list-style: none;
}

nav li {
	display: inline-block;
}

nav a {
	position: relative;
	display: block;
	color: #fff;
	text-decoration: none;
	font-weight: 600;
	border-radius: 8px;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
}

nav a:hover {
	background: #524f4f;
}

ul {
	list-style: disc;
	padding-left: 16px;
}

article {
	display: block;
}

h1 {
	font-size: 52px;
	font-weight: 300;
}

h1 strong {
	font-weight: 700;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 24px;
}



header {
	margin: 0 0 48px 0;
	
}


.container {
	margin: 0 auto;
	width: auto;
	text-align: center;
}

		
ul {
	list-style: disc;
	padding-left: 16px;
}

ul li {
	padding-left: 8px;
}


img {
	max-width:100%;
}

.box {
	background: #fff;
	box-shadow: inset 0px 0px 0px 5px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.box.style1 {
	padding: 45px 30px 45px 30px;
}

.wrapper {
	box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
	padding: 8em 0 8em 0;
	text-align: center;
	padding: 3em 0;
}


footer {
margin: 0;
text-align: center;
}

@media (max-width: 1680px) {

	.container {
		width: 100%;
		max-width: calc(100% - 30px);
	}

		.container.medium {
			width: 100%;
		}
}


@media (max-width: 736px) {

	.container {
		width: 100%;
		max-width: calc(100% - 30px);
	}

		.container.medium {
			width: 100%;
		}

}